html, body {
    height: 100vh;
    width: 96vw;
    margin: auto;
    background-color: #222;
    font-family: Palatino, Helvetica, Serif;
    color: #CCC;
    margin-top: 0;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
}

/*
HEADER
*/

.header {
    background-image: url("img/supper.png");
    background-size: 100% 140%;
    justify-content: center;
    height: 240px;
    padding: 10px;
    border-bottom: 1px solid #AAA;
}

.headline {
    text-align: center;
    color: black;
}



/*
CONTENT
*/

.bottom {
    display: flex;
}



/*
Text part
*/

.desc {
    background-color: #EEE;
    width: 80%;
    position: relative;
    box-shadow: inset -5px 5px 6px 0 rgba(0, 0, 0, 0.3);
}

.text {
    color: #222;
    text-align: left;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 20px;
}

.text_headline {
    margin-left: 50px;
    margin-top: 80px;
    color: #D68910;
}

.main_text_headline {
    margin-left: 50px;
    margin-top: 50px;
    color: #333;
}

.items {
    margin-left: 40px;
    color: #D68910;
    margin-bottom: 40px;
}

.proj_img {
    max-width: 300px;
    margin-left: 30px;
    padding: 10px;
}


/*
Navigator
*/

.navi {
    background-color: #b5b0ab;
    width: 20%;
    padding-left: 40px;
    padding-top: 20px;
}

.main_headline {
    text-decoration: none;
    color: #D68910;
}

.main_headline:hover {
    transition: all ease-out 0.2s;
    font-size: 110%;
    color: #b9680c;
}

.headlines {
    color: #222;
    text-decoration: none;
}

.headlines:hover {
    transition: all ease-out 0.1s;
    color: #D68910;
    font-size: 110%;
}

.content {
    display: block;
}

.pages, .projects {
    margin-left: 20px;
}

.links {
    color: #D68910;
}

.bullet {
    list-style: inside;
    padding-bottom: 6px;
    color: #D68910;
}



/*
MOBILE
*/

@media(max-width: 576px) {

    html, body {
        width: 100vw;
    }

    .header {
        background-image: url("img/supper_mobile.png");
        background-size: cover;
    }

    .desc, .navi {
        width: 100%;
    }

}