:root {
    --orange_colour: #ed7d00;
    --dark_orange_colour: #db5500;
}

/* Colored themed */
.links, .day, .text_headline, .items, .input_headline, .main_headline, .bullet {
    color: var(--orange_colour);
}

.button {
    border: 1px solid var(--orange_colour);
}

.main_headline:hover {
    color: var(--dark_orange_colour);
}

.headlines:hover {
    color: var(--orange_colour);
}


/* Images */
.header {
    background-image: url("img/supper.png");
    background-size: 100% 140%;
}

@media(max-width: 768px) {

    .header {
        background-image: url("img/supper_mobile.png");
        background-size: cover;
    }
}