/* The whole page in general */
@font-face {
    font-family: NotoSerif;
    src: url(../fonts/NotoSerif/NotoSerif-Light.ttf);
}

html, body {
    height: 100vh;
    width: 80vw;
    max-width: 1400px;
    margin: auto;
    background-color: #222;
    font-family: NotoSerif;
    font-size: medium;
    color: #CCC;
    margin-top: 0;
    box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7), -5px 0 5px -5px rgba(0,0,0,0.7);
}


/* Creating variables for the styles */
:root {
    --general_margin: 70px;
    --mobile_general_margin: 20px;
    --white_colour: #FAFAFA;
    --light_grey_colour: #E9E9E9;
    --grey_colour: #D1D1D1;
    --admin_colour: #4C7DB3;
}


/*****************
****  HEADER  ****
*****************/

.header {
    justify-content: center;
    height: 240px;
    padding: 10px;
}



/**********************
****  BOTTOM PART  ****
**********************/

/* Area under the header */
.bottom {
    display: flex;
    min-height: 100%;
    flex-direction: row-reverse;
}



/***************************************
****  TEXT PART / DESCRIPTION AREA  ****
***************************************/

/* Description area; Whole white text area on the right bottom corner */
.desc {
    background-color: var(--white_colour);
    min-width: 300px;
    position: relative;
    box-shadow: inset -5px 5px 8px 0 rgba(0, 0, 0, 0.05);
    padding-bottom: 50px;
    width: 100%;
}



/*****************
*
Text related stuff
*
*****************/

/* Text area (paragraphs) in the description area */
.text {
    color: #222;
    text-align: left;
    margin-left: var(--general_margin);
    margin-right: var(--general_margin);
    line-height: 1.6;
}

.text_with_whitespace {
    white-space: pre-wrap;
}

/* Headlines for the paragraphs aka subheadlines */
.text_headline {
    margin-left: var(--general_margin);
    margin-top: 50px;
    margin-right: var(--general_margin);
}

/* Main headline in the description area */
.main_text_headline {
    margin-top: 80px;
    margin-left: var(--general_margin);
    color: #333;
    margin-right: var(--general_margin);
}

/* Ordered list styling (ordinal) */
.items {
    margin-bottom: 40px;
    margin-right: var(--general_margin);
}

/* Single list item in the ordered list styling */
.ordered_list_item {
    padding: 4px;
}

/* Snippets used in instructions page to view console inputs added to database */
.code_snippet {
    display: inline-grid;
    color: var(--white_colour);
    background-color: gray;
    border-radius: 2px;
    padding: 8px;
    width: -webkit-fill-available;
    margin-bottom: 1px;
}

.code_snippet > pre {
    margin: 0px;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.code_snippet > pre :hover {
    scrollbar-width: thin;
    overflow-y: hidden;
}

/* Piece of code script in the instructions page for the database */
.code_script {
    white-space: pre;
    overflow-x: scroll;
    background-color: whitesmoke;
}

/* Grid table for instructions page for the database */
.grid_3wide {
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid_2wide {
    background-color: whitesmoke;
    border: 2px solid lightgray;
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid_3wide > div, .grid_2wide > div {
    white-space: nowrap;
    height: 28px;
    border: 1px solid lightgray;
    padding: 4px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grid_3wide > div :hover, .grid_2wide > div :hover {
    scrollbar-width: thin;
    overflow-y: hidden;
}

/* Sticky note box in the calendar page */
.sticky_box {
    margin-bottom: 100px;
}

/* Day name in the calendar page */
.day {
    margin-left: var(--general_margin);
    margin-bottom: -15px;
}

/* Text box in the calendar page */
.text_box {
    margin-bottom: -8px;
    width: 80%;
    height: 20px;
}

/* Container for the notes (bullet points) in the calendar page */
.bullet_container {
    margin-left: 40px;
    margin-right: 40px;
}

/* Rocket send button in the calendar page */
.send_button {
    margin-left: 5px;
    border: none;
    padding-bottom: 3px;
    background-color: var(--white_colour);
}

/* Container for the buttons in the calendar page */
.button_image_container {
    top: 3px;
    right: 0;
    position: relative;
    font-size: 20px;
    transition: ease-in 0.2s;
}

/* Hover effects for the rocket send button */
.send_button:hover .button_image_container {
    top: -12px;
    right: -18px;
    transform: scale(1.5);
}

/* Skeleton delete button in the calendar page */
.delete_button {
    background-color: var(--white_colour);
    transition: ease-in 0.2s;
    margin-left: 10px;
    border: none;
}

/* Hover effects for the skeleton delete button */
.delete_button:hover {
    transform: scale(1.2);
}

/* Button link (skeleton delete button) */
.button_link {
    text-decoration: none;
}



/****
*
Login
*
****/

/* Input fields */
#password, #username {
    width: 200px;
}

/* Container for the login button, login text and create account link */
.login_container {
    display: flex;
    margin-top: 40px;
}

/* Button in the login page */
.button {
    padding: 10px;
}

/* Container for the login text "tai" */
#login_text_container {
    margin-left: 20px;
    margin-top: 5px;
}

/* Box for the create account link */
#create_account_link_box {
    margin-left: 10px;
    padding: 5px;
}

/* Login error message */
.error {
    color: red;
    margin-top: 40px;
    /*margin-left: 20px;*/
}

.auth_headline {
    margin-left: var(--general_margin);
    margin-top: 40px;
    color: #333;
    margin-right: var(--general_margin);
}

/* Box for the create account button */
#create_account_button_box {
    margin-top: 40px;
}



/******************
*
Image related stuff
*
*******************/

/* Container for all images */
.image_area{
    margin-right: var(--general_margin);
    margin-left: var(--general_margin);
    margin-bottom: 20px;
}

/* Container for the normal sized image. Also acts as the low quality normal sized image  */
.image_container {
    position: relative;
    background-size: cover;
    margin-bottom: 5px;
    margin-right: 5px;
}

/* Container for the wide image. Also acts as the low quality wide image  */
.wide_image_container {
    position: relative;
    background-size: cover;
    margin-bottom: 5px;
    margin-right: 5px;
}

.image_container, .proj_img {
    display: inline-block;
    max-width: 200px;
    min-width: 200px;
}

.wide_image_container, .wide_img {
    display: inline-block;
    max-width: 600px;
    width: 100%;
    min-width: 300px;
}

/* Normal sized images (taken with phone vertically) */
.proj_img {
}

/* Wide images */
.wide_img {
}

/* Image hover effect */
.image_container:hover .overlay, .wide_image_container:hover .overlay {
    opacity: 1;
}

/* Image overlay shown when hovered */
.overlay {
    position: absolute;
    bottom: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

/* View when an image is clicked */
#enlarged_image_view {
    display: none;
    position: fixed;
    left: 0;
    top: 0; 
}

/* Background for the enlarged image */
#image_background {
    background-color: #222;
    opacity: 80%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

/* Container for the enlarged image */
#enlarged_image_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* The enlarged image */
#enlarged_image {
    z-index: 100;
    max-width: 100%;
    max-height: 100%;
}



/******************
*
Animated kitty cat
*
******************/

.cat {
    display: none;
    width: 200px;
    z-index: 100;
    transition: 0.4s ease transform;
}

#animated_cat_button {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}

#animated_cat_button:hover {
    animation: shake 0.6s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translateY(0)
    }
    25% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
    75% {
        transform: translateY(1px);
    }
    100% {
        transform: translateY(-1px);
    }
}



/**********
*
Update text pages
*
**********/

/* Update text text area */
.update_box {
    padding: 6px;
    width: 100%;
    height: 160px;
}

/* Button to update text */
.update_button {
    position: absolute;
    bottom: 10px;
    left: var(--general_margin);
}

/* Ready with the text updates */
.ready_button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: var(--general_margin);
}

/* Button to cancel text update */
.cancel_button {
    position: absolute;
    bottom: 10px;
    left: calc(2.2*var(--general_margin));
}

/* Links for admin edits */
.admin_link {
    margin-top: 8px;
    margin-left: var(--general_margin);
    display: block;
    color: var(--admin_colour);
}



/**********
*
Add blog text page
*
**********/

/* Button that adds blog text */
.add_blog_text_button {
    position: relative;
    left: var(--general_margin);
}

/* Headline/date of the existing blog text */
.blog_text_headline {
    margin: auto;
}

/* Box for the existing blog text(s) */
.blog_text_box {
    border: 1px solid var(--grey_colour);
    color: #222;
    background-color: #F5F5F5;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 5px;
}

/* Text area for the blog text */
.blog_text_area {
    padding: 10px;
    margin-top: 40px;
    width: 100%;
    height: 200px;
}



/**********
*
Add project page
*
**********/

/* Fieldsets in the add hobby project section */
.project_data_section {
    margin-bottom: 40px;
}

#label_hobby_project_name, #label_hobby_project_desc {
    display: block;
}

/* Input field in the add name */
#hobby_project_name {
    width: 100%;
}

/* Text area in the add description */
#hobby_project_desc {
    width: 100%;
    height: 40px;
}

/* Image name input field and file input */
.image_name, #image_src {
    width: 100%;
}

/* Wide image checkbox */
.is_wide {
    margin: auto;
    display: block;
    margin-top: 2px;
    transform: scale(1.6);
}

/* Add or remove image buttons */
.project_button {
    padding: 4px;
    width: 48px;
}

/* Add project button */
#add_project_button {
    position: absolute;
    bottom: 40px;
}



/**********
*
Delete project page
*
**********/

/* The projects dropdown */
#projects_dropdown {
    height: 40px;
    width: 30%;
    margin-top: 40px;
}

/* Delete project button */
.remove_button {
    margin-left: 40px;
    margin-top: 40px;
}

/* Cancel button */
.cancel_button_2 {
    position: absolute;
    bottom: 80px;
    left: var(--general_margin);
}

/********************
****  NAVIGATOR  ****
********************/

/* Navigator; The whole area shown in gray */
.navi {
    background-color: var(--light_grey_colour);
    min-width: 260px;
    display: block;
}

/* Burger menu icon in the mobile menu */
.navi_menu_icon {
    display: none;
    overflow: hidden;
    width: 80px;
    text-align: center;
    margin-top: 5px;
}

/* Lines creating the burger menu icon */
.icon {
  width: 40px;
  height: 4px;
  background-color: white;
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 20px;
}

/* Container for the headlines */
.headline_container {
    padding-left: 30px;
    padding-top: 20px;
    display: block;
}

.headline_container > ul, .projects > ol {
    padding: 0px;
}

.projects > ol {
    margin-left: 16px;
}

/* The main headline "Etusivu" */
.main_headline {
    text-decoration: none;
}

/* Hover effect for the main headline */
.main_headline:hover {
    transition: all ease-out 0.2s;
    font-size: 105%;
}

/* Rest of the headlines */
.headlines {
    color: #222;
    text-decoration: none;
}

/* Hover effects for the rest of the headlines */
.headlines:hover {
    transition: all ease-out 0.1s;
    font-size: 102%;
}

/* Topics under the headlines */
.pages, .projects {
    margin-left: 20px;
}

/* Unordered list styling (bullets) */
.bullet {
    list-style: outside;
    padding-bottom: 6px;
}

/* Infobox showing the user login and logout */
#login_info_box {
    padding-top: 10px;
    padding-bottom: 40px;
}


/*****************
****  FOOTER  ****
*****************/

/* The whole footer */
.footer {
    box-shadow: inset -5px 5px 8px 0 rgba(0, 0, 0, 0.05);
    padding: 4px;
}

/* Box for the github logo */
.github_area {
    margin-top: auto;
    margin-bottom: auto;
}

/* Box for the other content in the footer */
.footer_content_area {
    color: #222;
    display: flex;
    margin-left: var(--general_margin);
}

/* Footer text */
.footer_text {
    margin-left: 10px;
}

/* Github logo */
#cat_button {
    background: url(../img/github.png);
    background-size: 100%;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


/*********************************************************/
/******************** MOBILE & TABLET ********************/
/*********************************************************/

/*
TABLET
*/

@media screen and (max-width: 992px) {

    html, body {
        width: 100%;
        margin: 0;
    }

    .wide_img, .wide_image_container {
        max-width: 300px;
    }

    /* Table the in add project view */
    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    tbody {
        display: block;
        border: 1px solid #BBB;
        margin-bottom: 6px;
        padding: 6px;
    }
  
    table td {
        display: block;
        padding: 10px;
    }

    table td::before {
        content: attr(data-label);
        float: left;
    }

    .is_wide {
        margin-top: 10px;
        float: right;
    }

    #add_image_button, #remove_image_button {
        position: relative;
        margin-top: 30px;
        left: -80px;
    }

    /*********************************/

/*
MOBILE
*/

@media screen and (max-width: 768px) {

    html, body {
        width: 100%;
        margin: 0;
    }

    .wide_img, .wide_image_container {
        max-width: 200px;
    }

    .bottom {
        width: 100%;
        display: unset;
    }

    .main_text_headline {
        margin-top: 0px;
    }

    .desc {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 100px;
    }

    .navi {
        width: 100%;
    }

    .proj_img, .image_container {
        display: block;
    }

    .text, .text_headline, .main_text_headline, .image_area, .day, .admin_link {
        margin-left: var(--mobile_general_margin);
        margin-right: var(--mobile_general_margin);
        margin-bottom: 10px;
    }

    .auth_headline {
        margin-left: calc(var(--mobile_general_margin) + 20px);
    }

    .items {
        margin-left: 10px;
    }

    .bullet_container {
        margin-left: -20px;
        margin-right: 10px;
    }

    .text_box {
        width: 70%;
    }

    .headline_container {
        display: none;
        margin-left: 0px;
    }

    .headline_container.responsive {
        display: block;
        background-color: var(--light_grey_colour);
    }

    .navi_menu_icon {
        display: block;
        float: right;
    }

    .navi_bar {
        min-height: 50px;
    }

    .headline_container h2 {
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

    .footer_content_area {
        margin-left: var(--mobile_general_margin);
    }

    .add_blog_text_button, .update_button {
        left: var(--mobile_general_margin);
    }

    .ready_button {
        margin-left: 30px;
    }

    .cancel_button {
        left: calc(5*var(--mobile_general_margin));
    }

    /* Table the in add project view */
    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    tbody {
        display: block;
        border: 1px solid #BBB;
        margin-bottom: 6px;
        padding: 6px;
    }
  
    table td {
        display: block;
        padding: 10px;
    }

    table td::before {
        content: attr(data-label);
        float: left;
    }

    .is_wide {
        margin-top: 10px;
        float: right;
    }

    #add_image_button, #remove_image_button {
        position: relative;
        margin-top: 30px;
        left: -80px;
    }

    /*********************************/
}
